certifi
chardet
Faker
idna
numpy
python-dateutil
pytz
PyYAML
requests
scipy
six
text-unidecode
zope.interface
pandas==2.2.*
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability